fastapi
uvicorn[standard]
motor
python-dotenv
pydantic
httpx
beautifulsoup4
google-generativeai
slowapi
pymongo[srv]
dnspython
PyJWT[crypto]
cryptography
Pillow
razorpay
boto3
fastapi-mail
fastapi-cache2[redis]
fastapi-health
loguru
faker
mongomock
